{% extends "base.html" %}

{% block title %}
Проект {{project_label}}
{% endblock %}


{% block page %}
<div class="d-flex justify-content-center flex-wrap">
    <div class="card col-md-10 my-md-5">
        <div class="card-header d-md-flex pt-4 pb-2 px-5", id="project-info">
            {% include 'placeholders/project_info.html' %}
        </div>

        <div class="card-body m-0 p-0 text-start" style="height: 40vh;" id="graph-view">
            {% include 'placeholders/graph_view.html' %}
            </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.29.2/cytoscape.min.js" integrity="sha512-yi5TwB0WBpzqlJXNLURNMtpFXJt4yxJhkOG8yqkVQYWhfMkAoDF93rZ/KjfoN1gADGr5uKXvr5/Bw6CC03YWpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </div>

    {% comment %} <div class="card col-md-8 my-md-5 p-md-3">
        <div class="card-body">
            <h1>Here is update history</h1>
            <p>(May be?)</p>
        </div>
    </div> {% endcomment %}
</div>

<script>
    function fetchGraph() {
        $.ajax({
            url: '{% url "graph" project_id %}',
            type: 'GET',
            success: function(html) {
                $('#graph-view').html(html);
            },
            error: function() {
                $('#graph-view').html('<div class="my-5 mx-md-3 text-center"><h1 class="text-danger">Произошла ошибка.</h1><h4 class="text-danger-emphasis">Не удалось получить граф проекта</h4></div>');
            }
        });
    }

    function fetchProject() {
        $.ajax({
            url: '{% url "project" project_id %}',
            type: 'GET',
            success: function(html) {
                $('#project-info').html(html);
            },
            error: function() {
                $('#project-info').html('<h1 class="display-6">Безымянный проект</h1>')
            }
        });
    }
    
    $(document).ready(fetchProject);
    $(document).ready(fetchGraph);
</script>
{% endblock %}
