*

!*.py
!*.html
!*.css
!*.svg

*local*

!.gitignore
!requirements.txt
!Dockerfile
!readme.md

!account/
!account/**/
!project_view/
!project_view/**/
!sci_manager/
!sci_manager/**/
!static/
!static/**/
!templates/
!templates/**/