<div class="me-auto text-start col-6 placeholder-wave">
    <h3 class="card-title display-6 col-12 p-0 m-0">
        <span class="placeholder col-6 bg-dark"></span>
        <span class="placeholder col-3"></span>
    </h3>
    <p class="container col-11 p-0 m-0">
        <span class="placeholder col-9 bg-dark"></span>
        <span class="placeholder col-5 bg-dark"></span>
        <span class="placeholder col-6 bg-dark"></span>
        <span class="placeholder col-4 bg-dark"></span></p>
</div>
<div class="text-end col-4 placeholder-wave">
    <p class="text-body-secondary">
        <span class="placeholder col-2"></span>
        <span class="placeholder col-5"></span>
    </p>
    <p>
        <span class="placeholder col-2 bg-dark"></span>
        <span class="placeholder col-4 bg-dark"></span>
    </p>
    <p>
        <span class="placeholder col-2 bg-dark"></span>
        <span class="placeholder col-4 bg-dark"></span>
    </p>
</div>